<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{fragments :: head}"></div>
    <title th:text="${pizza.name}"></title>
  </head>
  <body>
    <header th:replace="~{fragments :: header}"></header>

    <div class="container">
      <div class="row">
        <div class="col" th:object="${pizza}">
          <h1 th:text="*{name}"></h1>
          <dl>
            <dt></dt>
            <dd>
              <img
                class="w-50"
                th:src="@{${pizza.photoUrl}}"
                th:alt="${pizza.name}"
              />
            </dd>
            <dt>Description</dt>
            <dd th:text="*{description}"></dd>
            <dt>Price</dt>
            <dd
              th:text="|€ ${#numbers.formatDecimal(pizza.price, 0, 2, 'COMMA')}|"
            ></dd>
          </dl>
        </div>
        <div class="container mt-auto">
          <a class="btn btn-primary" th:href="@{${pizzaUrl}}" role="button">
            Back to pizzas
          </a>
        </div>
      </div>
    </div>

    <div th:replace="~{fragments :: bsScript}"></div>
  </body>
</html>
